#about.about(itemscope itemtype="http://schema.org/CreativeWork")
	.about__wrap
		h2=about_title+ " "
			span(itemprop="name")= about_title_span
		p(itemprop="description")= about_description_1
		p(itemprop="description")= about_description_2
		span.close-about= close